@charset "utf-8";

/* 레이아웃 */
body {
  background: url(../img/header_bg.jpg) repeat-x center top;
}
#header {
}
#nav {
  background: #f6fdff;
}
#title {
  background: #eaf7fd;
}
#contents .container {
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}
#cont_left {
  float: left;
  width: 250px;
}
#cont_center {
  overflow: hidden;
  margin-right: 250px;
  min-height: 1300px;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}
#cont_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
}
#footer {
  border-top: 1px solid #dbdbdb;
}

/* 컨테이너 */
.container {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  /* background: rgba(0, 0, 0, 0.3); */
}

/* 헤더 */
.header {
  height: 327px;
}
.header .header_menu {
  text-align: right;
}
.header .header_menu a {
  display: inline-block;
  padding: 8px 0 6px 10px;
  color: #fff;
  font-family: 'Abel', sans-serif;
  transition: color 0.3s ease;
}
.header .header_menu a:hover {
  color: #ccc;
}

/* 헤더 타이틀 */
.header .header_tit {
  margin-top: 55px;
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.header .header_tit h1 {
  display: inline-block;
  padding: 5px 30px;
  background-color: #51b0dc;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  transition: box-shadow 0.25s ease-in-out;
}
.header .header_tit h1:hover {
  box-shadow: inset 9em 0 0 0 #257fac, inset -9em 0 0 0 #257fac;
}
.header .header_tit a {
  display: inline-block;
  margin-top: -7px;
  padding: 10px 20px;
  background-color: #4a9abf;
  color: #fff;
  font-size: 16px;
  transition: box-shadow 0.25s ease-in-out;
}
.header .header_tit a:hover {
  box-shadow: inset 0 0 0 5px rgba(75, 154, 191, 0.9), inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}

/* 헤더 아이콘 */
.header .header_icon {
  margin-top: 40px;
  padding-bottom: 45px;
  text-align: center;
}
.header .header_icon ul {
}
.header .header_icon li {
  display: inline;
  margin: 0 2px;
}
.header .header_icon li a {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #3192bf;
  border-radius: 50%;
  color: #fff;
  font-size: 35px;
  line-height: 60px;
}
.header .header_icon li a {
  transition: all 0.3s ease;
}
.header .header_icon li a span {
  position: absolute;
  left: 50%;
  top: -40px;
  padding: 3px 9px;
  background: #3192bf;
  border-radius: 6px 0;
  font-size: 12px;
  line-height: 1.6;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  opacity: 0;
}
.header .header_icon li a:hover {
  box-shadow: inset 0 0 0 3px rgba(75, 154, 191, 0.9), inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}
.header .header_icon li a span:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-top: 5px solid #3192bf;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.header .header_icon li a:hover span {
  top: -33px;
  opacity: 1;
}

/* 전체 메뉴 */
.nav {
  overflow: hidden;
  display: none;
  padding: 25px 0;
}
.nav > div {
  float: left;
  width: 40%;
}
.nav > div:last-child {
  width: 20%;
}
.nav > div h3 {
  margin-bottom: 4px;
  color: #25a2d0;
  font-size: 18px;
  font-weight: bold;
}
.nav > div ol {
  overflow: hidden;
}
.nav > div li {
  position: relative;
  float: left;
  padding-left: 8px;
  width: 50%;
  box-sizing: border-box;
}
.nav > div:last-child li {
  width: 100%;
}
.nav > div li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 3px;
  height: 3px;
  background: #25a2d0;
  border-radius: 50%;
}
.nav > div li a {
  position: relative;
}
.nav > div li a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #25aad0;
  transition: all 0.2s ease-out;
}
.nav > div li:hover a:after {
  width: 100%;
}

/* 타이틀 */
.title {
  position: relative;
  text-align: center;
}
.title h2 {
  padding: 5px 0;
  color: #0093bd;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 39px;
}
.title .btn {
  position: absolute;
  right: 0;
  top: 5px;
  width: 60px;
  height: 60px;
  background: #3192bf;
  border-radius: 50%;
  color: #fff;
  font-size: 35px;
  line-height: 60px;
  transition: all 0.3s ease;
}
.title .btn:hover {
  box-shadow: inset 0 0 0 3px rgba(75, 154, 191, 0.9), inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}

/* 컨텐츠 영역 */
.column {
  padding: 15px;
  border-bottom: 1px solid #dbdbdb;
}
.column .col_tit {
  padding-bottom: 5px;
  color: #2f7fa6;
  font-size: 20px;
}
.column .col_desc {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #dbdbdb;
  color: #878787;
  line-height: 18px;
}

.column.col1 {
}
.column.col2 {
}
.column.col3 {
  border-bottom: 0;
}
.column.col4 {
}
.column.col5 {
}
.column.col6 {
  border-bottom: 0;
}
.column.col7 {
}
.column.col8 {
}
.column.col9 {
  border-bottom: 0;
}

/* 메뉴 */
.menu {
}
.menu ul {
}
.menu li {
  position: relative;
}
.menu li a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  color: #878787;
  font-size: 16px;
  text-transform: uppercase;
  transition: background 0.34s ease, box-shadow 0.34s ease;
}
.menu li a i {
  position: absolute;
  right: 10px;
  top: 14px;
}
.menu li a:hover {
  background: rgba(36, 130, 174, 0.9);
  box-shadow: inset 180px 0 0 0 rgba(36, 130, 174, 0.7);
  color: #fff;
}

/* 미디어 쿼리 */
/* 화면 너비 0 ~ 1220px */
@media (max-width: 1220px) {
  #contents .container {
    border-left: 0;
    border-right: 0;
  }

  .container {
    width: 100%;
  }
  .row {
    padding: 0 15px;
  }

  .title .btn {
    right: 5px;
  }
}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px) {
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px) {
  #cont_center {
    margin-right: 0;
    border-right: 0;
  }
  #cont_right {
    position: static;
    width: 100%;
    border-top: 1px solid #dbdbdb;
  }

  .nav > div {
    width: 100%;
  }
  .nav > div:last-child {
    width: 100%;
  }
  .nav > div ol {
    margin-bottom: 10px;
  }
  .nav > div li {
    width: 33.3333%;
  }
  .nav > div:last-child li {
    width: 33.3333%;
  }
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px) {
  #cont_left {
    float: none;
    width: 100%;
  }
  #cont_center {
    border-left: 0;
  }
}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px) {
  .header {
    height: auto;
  }
  .header .header_tit {
    display: none;
  }
  .header .header_icon {
    display: none;
  }

  .nav > div li {
    width: 50%;
  }
  .nav > div:last-child li {
    width: 50%;
  }

  .title .btn {
    display: none;
  }

  .column.col1 .col_tit {
    display: none;
  }
  .column.col1 .col_desc {
    display: none;
  }
  .column.col1 {
    padding: 0;
    border-bottom: 0;
  }
  .column.col1 .menu ul {
    overflow: hidden;
  }
  .column.col1 .menu li {
    float: left;
    width: 33.3333%;
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
    text-align: center;
  }
  .column.col1 .menu li:nth-child(3),
  .column.col1 .menu li:nth-child(6) {
    border-right: 0;
  }
  .column.col1 .menu li a {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  .column.col1 .menu li a i {
    display: none;
  }
  .column.col1 .menu li a:hover {
    background: rgba(36, 130, 174, 0.3);
    box-shadow: none;
  }

  .column.col2 {
    background: #fff;
  }
  .column.col4 {
    border-top: 1px solid #dbdbdb;
  }
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px) {
}

/* 화면 너비 0 ~ 320px */
@media (max-width: 320px) {
  .nav > div li {
    width: 100%;
  }
  .nav > div:last-child li {
    width: 100%;
  }
}
