@charset "utf-8";

/* 레이아웃 */
#header {
  background: url(../img/header_bg.jpg) repeat-x center top;
}

/* 컨테이너 */
.container {
  margin: 0 auto;
  width: 1200px;
  background: rgba(0, 0, 0, 0.3);
}

/* 헤더 */
.header {
  height: 327px;
}
.header .header_menu {
  text-align: right;
}
.header .header_menu a {
  display: inline-block;
  padding: 8px 0 6px 10px;
  color: #fff;
  font-family: 'Abel', sans-serif;
  transition: color 0.3s ease;
}
.header .header_menu a:hover {
  color: #ccc;
}

/* 헤더 타이틀 */
.header .header_tit {
  margin-top: 55px;
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.header .header_tit h1 {
  display: inline-block;
  padding: 5px 30px;
  background-color: #51b0dc;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  transition: box-shadow 0.25s ease-in-out;
}
.header .header_tit h1:hover {
  box-shadow: inset 9em 0 0 0 #257fac, inset -9em 0 0 0 #257fac;
}
.header .header_tit a {
  display: inline-block;
  margin-top: -7px;
  padding: 10px 20px;
  background-color: #4a9abf;
  color: #fff;
  font-size: 16px;
  transition: box-shadow 0.25s ease-in-out;
}
.header .header_tit a:hover {
  box-shadow: inset 0 0 0 5px rgba(75, 154, 191, 0.9), inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}

/* 미디어 쿼리 */
@media (max-width: 1220px) {
  .container {
    width: 100%;
  }
  .row {
    padding: 0 15px;
  }
}
